body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

h1 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    gap: 9px;
    justify-content: space-between;
    margin-bottom: 20px;
}

input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
}

button {
    padding: 10px 15px;
    background-color: #007BFF;
    border: none;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
}

button i {
    margin-right: 5px;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li:last-child {
    border-bottom: none;
}

li button {
    background-color: #dc3545;
    border: none;
    border-radius: 5px;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

li button i {
    margin-right: 0px;
}

li button:hover {
    background-color: #c82333;
}
